body {
    background:white
}
.image-center{
    display:block;
    margin:auto;
}
.image-wrap {
    width: 500px;
    height: 300px;
    border: 1px solid gray;
}
.image-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}