@model IEnumerable<MyProject.Models.Phone>
@{
    ViewBag.Title = "Все смартфоны";
}
<h1> Телефоны </h1>
<div class="row mt-5 mb-2">
    @{
        foreach (var a in Model)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@a.img"  />
                <h2>@a.namePhone</h2>
                <p>@a.shortDesc</p>
                <a asp-action="Information" asp-route-id="@a.id">Читать далее</a>

            </div>

        }
    }
</div>

