<!--@{
    ViewData["Title"] = "Конкурс на MacBook Pro 2019";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->

<div style="padding:50px">
    <h1><b>Розыгрыш MacBook Pro 2019 (512 Gb)</b></h1>
    <h3><span style="color:red">Условия для участия в конкурсе:</span></h3>
    <ul>
        <li><p>Быть подписаным на мою <a href="https://vk.com/ilya_klishevich" target="_blank">страницу ВКонтакте</a></li></p>
        <li><p>Подписаться на мой <a href="https://github.com/KlishevichIlya" target="_blank">GitHub</a></p></li>     
    </ul>
    <p>
        <img src="~/images/mack.jpg" width="950" height="500" />
    </p>
    <h5>Розыгрыш MacBook Pro 2019 (512 Gb) пройдет в прямом эфире моего <a href="https://www.instagram.com/i_klishevich/" target="_blank">Instagram</a> <br />
         7 января 2020 года в 14.00(по МСК)
    </h5>
    <p>`
        <address>
            <strong>По воопросам сотрудничества:</strong> <a href="mailto:klishevich.ilya@gmail.com" target="_blank">Support@gmail.com</a><br />
            <strong>По вопросам рекламы:</strong> <a href="mailto:gjtae@mail.ru" target="_blank">Marketing@mail.ru</a>
        </address>
    </p>
</div>