@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" type="text/css" href="~/css/homestyle.css" />


<div style=" padding-top:40px;">
    <div class="jumbotron p-4 p-md-5 text-black rounded bg-dark ">
        <div class="col-md-5 px-0">
            <img width="200" height="150" />
            <h1 class="display-4 font-weight-bold">@Localizer["S1"]</h1>
            <p class="lead mb-0"><a class="text-white font-weight-bold" href="/Home/Contact">@Localizer["S2"]</a></p>
        </div>
    </div>
</div>




