@{
    ViewBag.Title = "Наши партнеры";
}
<h1> Наши самые крупные партнеры и спонсоры: </h1>
<head>
    <link rel="stylesheet" type="text/css" href="Partners.css">
</head>
<div class="row mt-5 mb-2">
    @{
        <div class="col-lg-4">
            <img class="img-thumbnail" src="~/images/1xbet.jpg" />
            <h2>Компания 1XBET</h2>
            <p>Букмейкерская компания, которая является нашим главным спонсором. Благодаря этой компании, Вы можете пользоваться нашим блогом абсолютно бесплатно.</p>
            <a href="https://1x-official.com/" target="_blank">Ознакомиться с партнером</a>
        </div>

        <div class="col-lg-4">
            <img class="img-thumbnail" src="~/images/Istore.png" />
            <h2>Официальный партнёр компании Apple в Беларуси</h2>
            <p>Поставляют нам девайсы для обзоров. Благодаря IStore, обзоры на новую технику выходят намного быстрее.</p>
            <a href="https://i-store.by/" target="_blank">Ознакомиться с партнером</a>

        </div>
        <div class="col-lg-4">
            <img class="img-thumbnail" src="~/images/samsung-logo.jpg" />
            <h2>Официальный партнёр компании Samsung в Беларуси</h2>
            <p>Поставляют нам девайсы для розыгрышей и обзоров. Благодаря Samsung, у нас есть возможность разыгрывать девайся для наших читателей.</p>
            <a href="https://i-store.by/" target="_blank">Ознакомиться с партнером</a>

        </div>
    }
</div>